@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #081b29;
    color: #ededed;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight:600;
}
a{
    color:#ededed;
    text-decoration: none;
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover {
    color: #00abf0;

}

.home{
    height: 100vh;
    background: url('');
    display: flex;
    align-items: center;
    padding: 0 10%;

}

.home-content{
    max-width: 625px;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    margin-top: 0px;
}

.home-content p{
    font-size: 16px;
}

.home-content .btn-box{
    width: 150px;
    height: 50px;
    background-color: transparent
    color(0 0 0)
}

.btn-box{
    display: inline-flex;
    height: 100%;
    width: 150px;
    background-color:transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    
}

.social{
    position: absolute;
    bottom: 40px;
    width: 170px;
    background: transparent;
    justify-content: space-between;
}

.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin: 5px;

}

.social p{
    color: #00abf0;
    font-size: 16px;
}